<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="{{ url_for('static', filename='pico-main/css/pico.red.min.css') }}" />
    <title>{% block title %}{% endblock %} — Homework 2</title>
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li><strong>Homework 2</strong></li>
        </ul>
        <ul>
          <li><a href="{{ url_for('site.index') }}">Home</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      {% block header %}{% endblock %}
      {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
      {% endfor %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>