{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit {{ user['name'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <fieldset class="grid">
      <label>
        Name
        <input name="name" value="{{ request.form['name'] or user['name'] }}" required>
      </label>
      <label>
        Points
        <input type="number" name="points" value="{{ request.form['points'] or user['points'] }}" required>
      </label>
    </fieldset>
    <input type="submit" value="Save changes">
  </form>
  <hr>
  <form action="{{ url_for('site.delete', id=user['id']) }}" method="post">
    <input class="outline" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}